<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ltts.wellspoc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ltts.wellspoc.Perspective"
            name="RCP Perspective"
            id="com.ltts.wellspoc.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            id="com.ltts.wellspoc.product"
            name="Wells POC"
            application="com.ltts.wellspoc.application">
         <property
               name="introBrandingImage"
               value="product:icons/eclipse16.png">
         </property>
         <property
               name="introTitle"
               value="Wells POC">
         </property>
         <property
               name="appName"
               value="Wells POC">
         </property>
         <property
               name="aboutText"
               value="Application to select and display well details">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png,icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
	
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ltts.wellspoc.wellswizardcommand"
            name="Wells Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ltts.wellspoc.WellsWizardHandler"
            commandId="com.ltts.wellspoc.wellswizardcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.ltts.wellspoc.toolbar">
            <command
                  commandId="com.ltts.wellspoc.wellswizardcommand"
                  icon="icons/eclipse16.png"
                  label="Start Wells wizard"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?before=additions">
         <command
               commandId="com.ltts.wellspoc.wellswizardcommand"
               label="Well Selection "
               style="push">
         </command>
         <command
               commandId="com.ltts.wellspoc.wellswizardcommand"
               label="Show Well Details"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.ltts.wellspoc.ui.views.WellDetailsView"
            id="com.ltts.wellspoc.welldetailsview"
            inject="true"
            name="Well Details">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.ltts.wellspoc.welldetailsview"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.intro">
	<intro
		class="org.eclipse.ui.intro.config.CustomizableIntroPart"
		id="com.ltts.wellspoc"/>    
	<introProductBinding
		 introId="com.ltts.wellspoc"
		 productId="com.ltts.wellspoc.product">
	</introProductBinding>
</extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.ltts.wellspoc.config"
            introId="com.ltts.wellspoc">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>
   
   
</plugin>
